/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --font: #3a3a3a;
  --button: #e02c6d;
  --star: #fb8200;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Header part */
header {
  margin: 50px 120px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo h1 {
  font-size: 24px;
  color: var(--font);
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-card {
  margin-left: 34px;
}
.nav-menu ul {
  display: flex;
  align-items: center;
}
.nav-menu ul li {
  list-style: none;
  margin-left: 34px;
  justify-content: space-around;
  font-size: 16px;
}

/* section menu */
.section-menu {
  margin: 0 120px;
}
.section-menu-contain {
  margin: 120px 0;
  width: 50%;
}
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-menu-contain h1 {
  color: var(--font);
  font-size: 52px;
  font-weight: 700;
  margin: 20px 0;
}
.section-menu-contain p {
  color: var(--font);
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}
.section-menu-contain button {
  background-color: var(--button);
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 5px 20px;
  border: none;
  display: flex;
  align-items: center;
}
.section-menu-contain button i {
  margin-left: 10px;
}
.section-menu-image {
  border-radius: 50%;
  background: url(images/Circle\ design.svg);
}
.section-menu-image img {
  width: 440px;
  height: 414px;
}
/* brand logo */
.brand-logo {
  text-align: center;
  margin: 80px 0;
}
.brand-logo-items {
  width: 80%;
  margin: auto;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}
.brand-logo img {
  width: 55px;
  padding: 10px 30px;
}

/* Popular collection */
.popular-collection {
  width: 80%;
  margin: auto;
  height: 100vh;
}
.popular-collection h1 {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 30px;
}
.popular-collection-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.popular-collection-card {
  padding: 14px 14px;
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.popular-collection-card img {
  width: 300px;
  height: 256px;
}

.popular-collection-card ul {
  display: flex;
  align-items: center;
}
.popular-collection-card ul li {
  list-style: none;
  margin-right: 3px;
  font-size: 16px;
}
.popular-collection-card ul li i {
  color: var(--star);
}
.popular-collection-card ul span {
  margin-left: 5px;
  color: var(--font);
  width: 700;
}
.popular-collection-card-content h2 {
  color: #18191f;
  font-size: 28px;
}
.popular-collection-card-content h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
}
.popular-collection-card p {
  width: 222px;
  margin: 10px 0;
  font-size: 16px;
  color: var(--font);
}
/* Media part */
@media screen and (max-width: 687px) {
  header {
    margin: 50px 20px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav-logo {
    margin-bottom: 40px;
  }
  .nav-menu ul li {
    margin-left: 20px;
  }
  .section-menu {
    margin: 0;
  }
  .section-container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 688px) and (max-width: 992px) {
  header {
    margin: 50px 20px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav-logo {
    margin-bottom: 40px;
  }
  .nav-menu ul li {
    margin-left: 60px;
  }
  .section-menu {
    margin: 0;
  }
  .section-container {
    flex-direction: column-reverse;
  }
}
